.scrolling-panel {
  height: auto;
  overflow-x: scroll;
  background-color: rgba(0, 0, 0, 0.1);
}
.category-card {
  min-width: 400px;

  img {
    height: 300px;
    width: 100%;
    object-fit: contain;
  }
}
