.scrolling-panel {
  height: auto;
  overflow-x: scroll;
  background-color: rgba(0, 0, 0, 0.1);
}

.category-card {
  min-width: 337px;
  padding: 14px 14px;
  margin: 0px 10px;
  border-radius: 7px;

  &:hover {
    box-shadow: 2px 2px 8px #b5d9ff;
    transition: 100ms;
  }

  img {
    height: 371px;
    border-radius: 7px;
    width: 100%;
    object-fit: cover;
  }
}

.linear-gradient {
  position: relative;
  top: 40px;
  min-height: 75%;
  border-radius: 8px;
  background: linear-gradient(180deg, #FF7163 18.23%, rgba(45, 23, 154, 0.6) 99.98%);
}
