.scrolling-panel {
  height: auto;
  overflow-x: scroll;
  background-color: rgba(0, 0, 0, 0.1);
}
.category-card {
  min-width: 400px;

  img {
    height: 300px;
    width: 100%;
    object-fit: contain;
  }
}

.linear-gradient {
  position: relative;
  top: 40px;
  min-height: 75%;
  border-radius: 8px;
  background: linear-gradient(180deg, #FF7163 18.23%, rgba(45, 23, 154, 0.6) 99.98%);
}
