.container-background {
  background: url(backgroundgradient.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.row-custom {
  height: 100vh;
}

.triangle-down {
  color: white;
  font-size: 30px;
}

.font-white-p {
  color: white;
  font-size: 12px;
  font-weight: 100;
}

#about {
  height: 50vh;
}
