.container-background {
  background: url(backgroundgradient.jpg);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.center-content {
  // margin-top: 15%;
}
.readmore {
  // margin-bottom: 5%;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid #ffffff;
}
.font-white-p {
  color: white;
  font-size: 12px;
  font-weight: 100;
}

#about {
  height: 50vh;
}
