.transparent-card {
  background-color: rgba(0,0,0,0);
}

.translucent-dark {
  background-color: rgba(0, 0, 0, 0.2);
}

.card-rounded {
  border-radius: 5px;
}

.card-shadow {
  border: 4px solid $hela-blue;
  box-shadow: 3px 6px $hela-blue;
  border-radius: 0px;
}
