.navbar {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  border-bottom: 5px solid #1143f8;
  // opacity: 0.9;
}

.navbar .navbar-cats-custom {
  flex-grow: 0;
}

.brand-logo .navbar-brand {
  font-family: $loud-font;
  font-style: italic;
  color: $hela-blue;
  font-size: 2rem;

  &:focus {
    color: $hela-blue;
  }
}

.hela-nav-link {
  color: $hela-blue;
  text-decoration: none;
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  &:hover {
    color: #ff7163;
  }
}

.hela-nav-link.active {
  color: $hela-blue;
}
