.navbar {
  width: 100%;
  background: url(backgroundgradient.jpg);
}

.brand-logo .navbar-brand {
  font-family: $loud-font;
  font-style: italic;
  color: $hela-blue;
  font-size: 2rem;

  &:focus {
    color: $hela-blue;
  }
}

.hela-nav-link {
  color: $hela-white;
  text-decoration: none;
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  &:hover {
    color: $hela-blue;
  }
}

.hela-nav-link.active {
  color: $hela-blue;
}
.navbar .hela-navbar-cats {
  flex-grow: 0;
}
