.navbar-brand {
  font-family: $brand-font;
  font-style: italic;
  color: $hela-blue;
  font-size: 1.75rem;
}

.hela-nav-link {
  color: $hela-white;
  font-family: $headers-font;
  text-decoration: none;
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  &:hover {
    color: $hela-blue;
  }
}

.hela-nav-link.active {
  color: $hela-blue;
}
